#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ======================
COMMON
====================== */

.center-content {
  justify-content: center;
  text-align: center;
  display: flex;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 8px 16px;
  z-index: 1300;
}

.language-selector {
  position: static;
  top: 3px;
  left: 16px;
  z-index: 1300;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
}

.logout-container {
  position: static;
  top: 3px;
  right: 16px;
  z-index: 1300;
}

.navbar {
  background-color: #427ec7 !important;
  box-shadow: none;
  margin-bottom: 16px !important;
  width: 100% !important;
}

/* ======================
EMPLOYEES
====================== */

.employee-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.employee-image-cell {
  display: flex;
  align-items: center;
  height: 100%;
}

.employee-image-cell img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}

.employees-table-container {
  height: 100%;
  width: 100%;
}

.thumb-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* ======================
LOGIN
====================== */

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-top: 10vh;
}

/* ======================
SALARY
====================== */

.salary-card {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 16px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
